@media screen and (min-width:992px) and (max-width:1279px){
/* Header Section Responsive */
    .header {
        width: 80%;
    }
    .logo {
        width: 64px;
        height: 38px;
    }

    .header-box>img {
        width: 12px;
        height: 12px;
    }

    .header-paragraf {
        font-size: 12px;
    }

    /* Main Head Section Responsive */
    .head-section {
        width: 80%;
    }
    .head-title {
        font-size: 46px;
    }

    .head-paragraf {
        font-size: 12px;
    }

    .section1-img {
        width: 176px;
        height: 206px;
    }

    .card-section {
        height: 250px;
    }

    .card-container {
        width: 280px;
        height: 115px;
    }

    .card-text {
        width: 85%;
        font-size: 14px;
    }

    .card-author {
        font-size: 12px;
        bottom: 5px;
    }
    .logo {
        width: 64px;
        height: 38px;
    }

    .header-box>img {
        width: 12px;
        height: 12px;
    }

    .header-paragraf {
        font-size: 12px;
    }

    .head-title {
        font-size: 46px;
    }

    .head-paragraf {
        font-size: 12px;
    }

    .section1-img {
        width: 176px;
        height: 206px;
    /* About Section Responsive */
    .about-title {
        font-size: 32px;
    }

    .about-section {
        width: 80%;
    }

    .text {
        width: 383px;
        font-size: 14px;
    }

    .img-box>img {
        width: 211px;
        height: 199px;
    }

    .common {
        height: 250px;
    }

    .alt-section {
        width: 80%;
        height: 200px;
        /* background-color: red; */
        justify-content: flex-start;
    }

    .altsection-img>img {
        width: 134px;
        height: 117px;
    }

    .detail-header {
        font-size: 15px;
        margin-bottom: 5px;
    }

    .detail-text {
        width: 90px;
        font-size: 11px;
    }

    .txt {
        margin-bottom: 10px;
    }
@media screen and (min-width:320px) and (max-width:991px) {
    /* Header Section   */
    .alt-container {
        width: 95%;
    }

    .details {
        width: 75%;
    }
}
    .header {
        width: 95%;
        height: 120px;
    }
    .logo {
        width: 52px;
        height: 30px;
    }

    .header-box>img {
        width: 10px;
        height: 10px;
    }

    .header-paragraf {
        font-size: 10px;
    }

    /* Main Head Section Responsive  */
    .head-section {
        width: 95%;
        height: 335px;
        padding-top: 0;
    }

    .card-section {
        width: 95%;
        height: 150px;
        justify-content: left;
    }

    .card-container {
        width: 225px;
        height: 93px;
    }

    .card-text {
        width: 85%;
        font-size: 11px;
    }

    .card-author {
        font-size: 10px;
        bottom: 10px;
    }
    .logo {
        width: 52px;
        height: 30px;
    }

    .header-box>img {
        width: 10px;
        height: 10px;
    }

    .header-paragraf {
        font-size: 10px;
    }
    .head-title {
        font-size: 37px;
    }

    .head-paragraf {
        font-size: 10px;
        width: 264px;
    }

    .section1-img {
        width: 141px;
        height: 175px;
        position: absolute;
        right: 0;
    }

    .head-container {
        width: 100%;
        display: block;
        position: relative;
    }
    /*  Card section  */
    .courseprogram .cards {
    /* About Section Responsive */
    .about-title {
        font-size: 26px;
    }

    .about-section {
        width: 95%;
    }

    .text {
        width: 308px;
        font-size: 12px;
    }

    .img-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
    }

    .img-box>img {
        width: 211px;
        height: 199px;
    }

    .common {
        /* height: 250px; */
        display: block;
    }

    .alt-section {
        width: 95%;
        height: 200px;
        /* background-color: red; */
        justify-content: flex-start;
    }
    .altsection-img {
        width: 0px;
    }

    .altsection-img>img {
        display: none;
    }

    .detail-header {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .detail-text {
        width: 90px;
        font-size: 10px;
    }

    .txt {
        margin-bottom: 10px;
    }

    .alt-container {
        width: 100%;
        background-color: aqua;
    }

    .details {
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        row-gap: 20px;
    }

    /*  Card section  Responsive*/

   .courseprogram .cards {
        grid-template-columns: 1fr;
    }

    .courseprogram h1 {
        margin-bottom: 50px;
        margin-left: 0px;
        font-size: 25px;
    }

    .courseprogram h3 {
        margin-top: 15px;
        margin-bottom: 30px;
        margin-left: 15px;
    }

    .courseprogram p {
        margin-bottom: 20px;
    }
    /* formatclass */
    .formatclass {
        padding: 40px;
    }

    .formatclass .features {
        flex-direction: column;
        align-items: flex-start;
    }

    .formatclass .feature {
        width: 100%;
        padding-left: 0;
    }

    .formatclass .top-section {
        flex-direction: column;
        align-items: center;
    }
  }
